*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  background: url("../src/images/background-image.jpg") no-repeat fixed;
  background-size: cover;
  color: #fff;
}


